{%
  set classes = [
    'govuk-textarea',
    element['#errors'] ? 'govuk-textarea--error',
  ]
%}
<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
