{% if primary %}
  <div class="govuk-tabs" data-module="tabs">
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    {# Do not use the govuk-tabs_list class, as we do not want the js tabs functionality #}
    <ul class="drupal-tabs__list">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <div class="govuk-tabs" data-module="tabs">
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="drupal-tabs__list">{{ secondary }}</ul>
  </div>
{% endif %}
