{% set classes = [
  'govuk-tabs__tab',
  is_active ? 'govuk-tabs__tab--selected'
]
%}

{% set link = link|merge({ '#attributes': { 'class': classes } }) %}
<li{{ attributes.addClass('govuk-tabs__list-item') }}>{{ link }}</li>
