{% for type, messages in message_list %}
  {% if type == 'error' %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ 'There is a problem'|t }}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% elseif type == 'warning' %}
    {% for message in messages %}
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">{{ 'Warning'|t }}</span>
          {{ message }}
        </strong>
      </div>
    {% endfor %}
  {% elseif type == 'status' %}
    {% for message in messages %}
      <div class="govuk-panel govuk-panel--confirmation">
        <div class="govuk-panel__body">
          {{ message }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
